* {
    box-sizing: border-box;
}

.error-page {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            180deg,
            #87CEEB 0%,
            #fbc687 55%,
            #f7a76c 100%
        );

    position: relative;
}

.error-card {
    width: 90%;
    max-width: 650px;

    background: rgba(255,255,255,0.95);

    backdrop-filter: blur(10px);

    padding: 50px;

    border-radius: 30px;

    text-align: center;

    box-shadow:
        0 20px 50px rgba(0,0,0,0.2);

    z-index: 10;

    animation:
        floatCard 4s ease-in-out infinite;
}

.error-card h1 {
    font-size: 110px;
    margin: 0;

    color: #ff7043;
}

.error-card h2 {
    font-size: 34px;
    margin: 10px 0;

    color: #333;
}

.error-card p {
    font-size: 18px;
    color: #666;

    line-height: 1.8;
}

.emoji {
    font-size: 90px;

    animation:
        spinCompass 8s linear infinite;
}

.home-button {
    margin-top: 25px;

    display: inline-block;

    padding: 15px 30px;

    border-radius: 15px;

    text-decoration: none;

    background: #ff7043;

    color: white;

    font-weight: bold;

    transition: .3s;
}

.home-button:hover {
    transform:
        translateY(-3px)
        scale(1.05);
}

.mountain {
    position: absolute;
    bottom: 0;

    width: 0;
    height: 0;
}

.mountain-1 {
    left: -50px;

    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 350px solid #4caf50;
}

.mountain-2 {
    right: -80px;

    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 420px solid #388e3c;
}

@keyframes spinCompass {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes floatCard {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}